[submodule "frontend"]
	path = frontend
	url = git@github.com:IOTraveller/frontend.git
	branch = main
[submodule "infrastructure"]
	path = infrastructure
	url = git@github.com:IOTraveller/infrastructure.git
	branch = master
